
h1{
    color: red;
}

p{
    color: blue;
}


h1{
    color: red;
    color: rgb(255, 0, 0);

}
p{color: blue;
    color: rgb(0, 0, 255);

}


h1{
    color: rgba(255, 0, 0, 1);

}



p{
    color: rgba(0, 0, 0, 0.5);


}

h1{
    color: #ff0000;

}
p{
    color: #0000ff;

}


h1{
    color: hsl(0, 100%, 50%);

}


p{
    color: hsl(230, 100%, 50%);

}
.hero-section{
    color: palevioletred;
}


p{
    color: currentColor;
}